In [91]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [92]:
df = pd.read_csv("./Data/datosParaComprobarModelo.csv")
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,15765311,Zhirov,642,Spain,Male,34,8,0.00,1,1,0,72085.10,0,0,3,GOLD,323
1,15704466,Udokamma,692,France,Female,34,7,0.00,2,1,0,195074.62,0,0,1,DIAMOND,427
2,15573045,Earl,547,France,Male,62,10,127738.75,2,1,1,85153.00,0,0,4,GOLD,666
3,15596761,Hawdon,515,Germany,Male,60,9,113715.36,1,1,0,18424.24,1,1,1,GOLD,850
4,15588622,Marchesi,599,Germany,Male,25,7,108380.72,1,1,1,79005.95,0,0,1,SILVER,933

In [93]:
df.drop(columns="Exited",inplace=True)

In [94]:
bins = [300,579,669,739,799,850]
names = ["Poor","Fair","Good","Very Good","Excellent"]
df["CreditScoreCategorizada"]= pd.cut(df["CreditScore"],bins,labels=names)

In [95]:
bins = [17,25,35,45,65,df["Age"].max()]
names = ["Jovenes","Jovenes-Adultos","Adultos","Adultos-Mayores","Mayores"]
df["AgeCategorizada"]= pd.cut(df["Age"],bins,labels=names)

In [96]:
df_Modelado = df.copy()

In [97]:
df_Modelado.drop(columns=["CustomerId","Surname","CreditScore","Age"], inplace=True)

In [98]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,CreditScoreCategorizada,AgeCategorizada
0,15765311,Zhirov,642,Spain,Male,34,8,0.00,1,1,0,72085.10,0,3,GOLD,323,Fair,Jovenes-Adultos
1,15704466,Udokamma,692,France,Female,34,7,0.00,2,1,0,195074.62,0,1,DIAMOND,427,Good,Jovenes-Adultos
2,15573045,Earl,547,France,Male,62,10,127738.75,2,1,1,85153.00,0,4,GOLD,666,Poor,Adultos-Mayores
3,15596761,Hawdon,515,Germany,Male,60,9,113715.36,1,1,0,18424.24,1,1,GOLD,850,Poor,Adultos-Mayores
4,15588622,Marchesi,599,Germany,Male,25,7,108380.72,1,1,1,79005.95,0,1,SILVER,933,Fair,Jovenes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,15784092,Henderson,732,France,Male,36,7,126195.81,1,1,1,133172.48,0,1,DIAMOND,549,Good,Adultos
496,15805112,Pokrovsky,578,France,Male,38,7,82259.29,1,1,0,8996.97,0,1,DIAMOND,325,Poor,Adultos
497,15641366,Y?an,599,Germany,Male,61,1,124737.96,1,0,1,90389.61,1,3,PLATINUM,914,Fair,Adultos-Mayores
498,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1,3,GOLD,790,Poor,Adultos
499,15649121,Pinto,665,France,Male,52,3,0.00,1,1,0,116137.01,1,1,GOLD,307,Fair,Adultos-Mayores

In [99]:
df_Modelado

,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,CreditScoreCategorizada,AgeCategorizada
0,Spain,Male,8,0.00,1,1,0,72085.10,0,3,GOLD,323,Fair,Jovenes-Adultos
1,France,Female,7,0.00,2,1,0,195074.62,0,1,DIAMOND,427,Good,Jovenes-Adultos
2,France,Male,10,127738.75,2,1,1,85153.00,0,4,GOLD,666,Poor,Adultos-Mayores
3,Germany,Male,9,113715.36,1,1,0,18424.24,1,1,GOLD,850,Poor,Adultos-Mayores
4,Germany,Male,7,108380.72,1,1,1,79005.95,0,1,SILVER,933,Fair,Jovenes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,France,Male,7,126195.81,1,1,1,133172.48,0,1,DIAMOND,549,Good,Adultos
496,France,Male,7,82259.29,1,1,0,8996.97,0,1,DIAMOND,325,Poor,Adultos
497,Germany,Male,1,124737.96,1,0,1,90389.61,1,3,PLATINUM,914,Fair,Adultos-Mayores
498,Germany,Male,3,152039.70,1,1,1,53445.17,1,3,GOLD,790,Poor,Adultos
499,France,Male,3,0.00,1,1,0,116137.01,1,1,GOLD,307,Fair,Adultos-Mayores

In [100]:
df.drop(columns="Complain",inplace=True)
df_Modelado.drop(columns="Complain",inplace=True)

In [101]:
import pickle
with open ("./Transformaciones/TransformacionOHE.pkl","rb") as a:
    transformacionCategoricas = pickle.load(a)

In [102]:
with open ("./Transformaciones/TransformacionSCALER.pkl","rb")as a:
    transformacionNumericas = pickle.load(a)

In [103]:
variablesx = list(df_Modelado.columns)
variablesx

['Geography',
 'Gender',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Satisfaction Score',
 'Card Type',
 'Point Earned',
 'CreditScoreCategorizada',
 'AgeCategorizada']

In [104]:
x = df_Modelado[variablesx]

In [105]:
columns_to_encode = ['Geography','Gender','Card Type','CreditScoreCategorizada','AgeCategorizada','HasCrCard','IsActiveMember','Satisfaction Score']
encoded_columns_train = transformacionCategoricas.transform(x[columns_to_encode].values)
columns_to_escaler = ["Balance","EstimatedSalary","Point Earned","Tenure","NumOfProducts"]
escaler_columns_train = transformacionNumericas.transform(x[columns_to_escaler].values)
x_final = np.concatenate([encoded_columns_train,escaler_columns_train],axis=1)

In [106]:
modelo = tf.keras.models.load_model("./Modelos/mejorModeloBank2.h5")

In [107]:
prediccion = modelo.predict(x_final)

16/16 [==============================] - 0s 6ms/step

In [108]:
prediccionBuena = (prediccion>0.5).astype("int32")

In [109]:
prediccion

array([[0.2080734 ],
       [0.16194227],
       [0.22929047],
       [0.7624667 ],
       [0.11040097],
       [0.22798641],
       [0.06980164],
       [0.3154615 ],
       [0.3755296 ],
       [0.65029544],
       [0.12281507],
       [0.3560399 ],
       [0.5690263 ],
       [0.2848283 ],
       [0.13386168],
       [0.1679069 ],
       [0.4129739 ],
       [0.31880632],
       [0.17711203],
       [0.49339208],
       [0.34773442],
       [0.94306254],
       [0.28989813],
       [0.37190804],
       [0.47032008],
       [0.61248296],
       [0.65041935],
       [0.48209068],
       [0.0592583 ],
       [0.96080256],
       [0.6719307 ],
       [0.07353295],
       [0.9070323 ],
       [0.44001454],
       [0.5213237 ],
       [0.6774999 ],
       [0.77592444],
       [0.3470478 ],
       [0.24272765],
       [0.15092064],
       [0.08424215],
       [0.2888129 ],
       [0.20129913],
       [0.12840584],
       [0.25840327],
       [0.5522106 ],
       [0.41908252],
       [0.16537963],
       [0.1552722 ],
       [0.2038429 ],
       [0.25650883],
       [0.93441373],
       [0.03671055],
       [0.52001375],
       [0.1446664 ],
       [0.23814176],
       [0.21179149],
       [0.28133944],
       [0.30188164],
       [0.23472746],
       [0.05059823],
       [0.20684592],
       [0.14953297],
       [0.17609909],
       [0.8786264 ],
       [0.9011969 ],
       [0.5659262 ],
       [0.25151104],
       [0.32666826],
       [0.6772171 ],
       [0.6561829 ],
       [0.8352602 ],
       [0.09970271],
       [0.10185841],
       [0.22048411],
       [0.28426853],
       [0.190889  ],
       [0.02881093],
       [0.39363858],
       [0.07138618],
       [0.68084794],
       [0.2877839 ],
       [0.03703573],
       [0.812779  ],
       [0.31556848],
       [0.9838828 ],
       [0.10716003],
       [0.1876568 ],
       [0.06344444],
       [0.7434394 ],
       [0.66420406],
       [0.2009448 ],
       [0.03683316],
       [0.27057177],
       [0.9062375 ],
       [0.86630046],
       [0.19943848],
       [0.18896455],
       [0.9079906 ],
       [0.10158255],
       [0.37514144],
       [0.19022447],
       [0.11976779],
       [0.35667613],
       [0.06439085],
       [0.2586815 ],
       [0.0930032 ],
       [0.20797446],
       [0.47991207],
       [0.54639745],
       [0.09350658],
       [0.60190225],
       [0.84401596],
       [0.48997024],
       [0.16662721],
       [0.6535059 ],
       [0.11376337],
       [0.06387059],
       [0.27979025],
       [0.27111286],
       [0.04326614],
       [0.27140972],
       [0.3372642 ],
       [0.2243121 ],
       [0.9263466 ],
       [0.24951224],
       [0.59103185],
       [0.6668951 ],
       [0.5168923 ],
       [0.22997294],
       [0.11207926],
       [0.20300704],
       [0.40368983],
       [0.6748527 ],
       [0.5751737 ],
       [0.2627652 ],
       [0.549404  ],
       [0.15046869],
       [0.88860196],
       [0.12874825],
       [0.9750986 ],
       [0.2767374 ],
       [0.4727853 ],
       [0.47346562],
       [0.0746563 ],
       [0.42085752],
       [0.02935383],
       [0.04061652],
       [0.02868824],
       [0.04365927],
       [0.10742611],
       [0.25674886],
       [0.01445808],
       [0.23449264],
       [0.19264181],
       [0.36212093],
       [0.21131653],
       [0.07891443],
       [0.18669401],
       [0.08352938],
       [0.4534639 ],
       [0.6485863 ],
       [0.26942933],
       [0.23495072],
       [0.55083674],
       [0.05404802],
       [0.18810056],
       [0.5273734 ],
       [0.2273443 ],
       [0.671698  ],
       [0.23600268],
       [0.12737755],
       [0.7484638 ],
       [0.6526314 ],
       [0.28837195],
       [0.28135818],
       [0.84047073],
       [0.34809473],
       [0.15176387],
       [0.5465895 ],
       [0.06473775],
       [0.77384907],
       [0.08995075],
       [0.20528351],
       [0.25953582],
       [0.22314861],
       [0.7006565 ],
       [0.39348844],
       [0.10642722],
       [0.4374204 ],
       [0.09355164],
       [0.25231203],
       [0.05581797],
       [0.1051296 ],
       [0.15007551],
       [0.18570355],
       [0.70530623],
       [0.04251919],
       [0.565525  ],
       [0.19235246],
       [0.49732196],
       [0.34227088],
       [0.08212464],
       [0.13794203],
       [0.7242635 ],
       [0.17595695],
       [0.42962828],
       [0.3821459 ],
       [0.39003405],
       [0.51258045],
       [0.5930176 ],
       [0.9996526 ],
       [0.65298843],
       [0.6086906 ],
       [0.364839  ],
       [0.67983246],
       [0.46146822],
       [0.5935741 ],
       [0.14181727],
       [0.85690993],
       [0.18329765],
       [0.26905492],
       [0.24902281],
       [0.8134276 ],
       [0.70068526],
       [0.25481084],
       [0.20515612],
       [0.04354048],
       [0.34421045],
       [0.3043533 ],
       [0.0795507 ],
       [0.21133257],
       [0.42431697],
       [0.31058195],
       [0.20563744],
       [0.9132434 ],
       [0.8665652 ],
       [0.14476655],
       [0.75088394],
       [0.30715632],
       [0.17013888],
       [0.6616716 ],
       [0.16175853],
       [0.08795324],
       [0.54059416],
       [0.09638348],
       [0.35022768],
       [0.38095486],
       [0.05200313],
       [0.56246215],
       [0.4750583 ],
       [0.7289423 ],
       [0.67140645],
       [0.3659671 ],
       [0.5445857 ],
       [0.33972466],
       [0.38340265],
       [0.27602398],
       [0.15585914],
       [0.45909655],
       [0.02519039],
       [0.08554646],
       [0.381546  ],
       [0.24523528],
       [0.07318886],
       [0.05823126],
       [0.06184852],
       [0.04107343],
       [0.83369225],
       [0.01990026],
       [0.7634659 ],
       [0.26068923],
       [0.4169879 ],
       [0.38880384],
       [0.07332759],
       [0.1199248 ],
       [0.84821373],
       [0.45915526],
       [0.57923514],
       [0.6853518 ],
       [0.40699062],
       [0.0481787 ],
       [0.09336904],
       [0.04850847],
       [0.5651838 ],
       [0.07391957],
       [0.37349838],
       [0.07877965],
       [0.12357882],
       [0.4082835 ],
       [0.4772232 ],
       [0.61182964],
       [0.34905785],
       [0.14524576],
       [0.07983933],
       [0.62909114],
       [0.39167473],
       [0.3575324 ],
       [0.17885934],
       [0.20580322],
       [0.16211616],
       [0.04333763],
       [0.3630787 ],
       [0.05207198],
       [0.40593114],
       [0.14699954],
       [0.40724045],
       [0.15045683],
       [0.6749401 ],
       [0.4192014 ],
       [0.46510017],
       [0.5488513 ],
       [0.17070316],
       [0.23595087],
       [0.02684325],
       [0.30175355],
       [0.2957986 ],
       [0.3283626 ],
       [0.21034504],
       [0.9408916 ],
       [0.3868005 ],
       [0.22868013],
       [0.28057015],
       [0.32980156],
       [0.07548498],
       [0.23701158],
       [0.15385638],
       [0.47489005],
       [0.30499145],
       [0.19583316],
       [0.16227677],
       [0.21325104],
       [0.26116258],
       [0.04567826],
       [0.23945978],
       [0.05558547],
       [0.63645864],
       [0.5428116 ],
       [0.21351089],
       [0.12893365],
       [0.41116855],
       [0.14081372],
       [0.48875648],
       [0.15038256],
       [0.5413638 ],
       [0.12665404],
       [0.31771907],
       [0.6295032 ],
       [0.13238685],
       [0.4274858 ],
       [0.1473949 ],
       [0.31381232],
       [0.43956998],
       [0.434922  ],
       [0.4634594 ],
       [0.5687714 ],
       [0.11697615],
       [0.07946265],
       [0.16335502],
       [0.2660132 ],
       [0.8611475 ],
       [0.40107805],
       [0.40325674],
       [0.33913276],
       [0.5719439 ],
       [0.5182353 ],
       [0.5483183 ],
       [0.02486788],
       [0.09095123],
       [0.46921846],
       [0.5276678 ],
       [0.07415394],
       [0.59249026],
       [0.08959924],
       [0.12099288],
       [0.5364273 ],
       [0.3267282 ],
       [0.22189799],
       [0.2887293 ],
       [0.53719157],
       [0.42230722],
       [0.20926288],
       [0.18044811],
       [0.04503662],
       [0.9326906 ],
       [0.09678411],
       [0.57334346],
       [0.37771258],
       [0.23185802],
       [0.11877496],
       [0.5694429 ],
       [0.07621014],
       [0.10900184],
       [0.02885946],
       [0.5827051 ],
       [0.64507526],
       [0.11633515],
       [0.12724355],
       [0.15512002],
       [0.38460118],
       [0.25308305],
       [0.10077033],
       [0.1243156 ],
       [0.07859536],
       [0.22335304],
       [0.24043034],
       [0.19770908],
       [0.01052427],
       [0.74406576],
       [0.3060522 ],
       [0.8526563 ],
       [0.6975849 ],
       [0.37353048],
       [0.16340221],
       [0.55857784],
       [0.08651367],
       [0.1597092 ],
       [0.04101818],
       [0.06662082],
       [0.14815968],
       [0.230108  ],
       [0.13204554],
       [0.07125051],
       [0.07997966],
       [0.86777395],
       [0.4960305 ],
       [0.5685081 ],
       [0.24891154],
       [0.04817388],
       [0.13409138],
       [0.60408735],
       [0.3571447 ],
       [0.09213308],
       [0.86763376],
       [0.56111586],
       [0.339938  ],
       [0.266826  ],
       [0.20453334],
       [0.96015793],
       [0.04777178],
       [0.1098362 ],
       [0.60740846],
       [0.41770586],
       [0.23045942],
       [0.24914517],
       [0.0754915 ],
       [0.02062395],
       [0.33335382],
       [0.20837837],
       [0.03058736],
       [0.8147881 ],
       [0.14331217],
       [0.24994944],
       [0.03063921],
       [0.11442913],
       [0.07067747],
       [0.550037  ],
       [0.08442134],
       [0.48525995],
       [0.10370237],
       [0.5372629 ],
       [0.3700144 ],
       [0.5405401 ],
       [0.11083954],
       [0.09063705],
       [0.07289951],
       [0.16106443],
       [0.02378504],
       [0.43107757],
       [0.915237  ],
       [0.33519095],
       [0.6801172 ],
       [0.5600984 ],
       [0.05513513],
       [0.40544635],
       [0.12242335],
       [0.10788417],
       [0.35695753],
       [0.41558957],
       [0.73320687],
       [0.16873288],
       [0.6660915 ],
       [0.14357208],
       [0.06139377],
       [0.0841132 ],
       [0.08550332],
       [0.18599826],
       [0.01816511],
       [0.3200263 ],
       [0.18874653],
       [0.860479  ],
       [0.61641514],
       [0.03887063],
       [0.0223113 ],
       [0.44361597],
       [0.25733334],
       [0.51248246],
       [0.6576768 ],
       [0.28229505],
       [0.8080178 ]], dtype=float32)

In [110]:
prediccionBuena

array([[0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1]])

In [111]:
df["Prediccion"]=prediccionBuena
df["Probabilidad de irse del banco"]=prediccion

In [112]:
df["Prediccion_str"]=df["Prediccion"].replace(0,"Se queda").replace(1,"Se va")

In [113]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,CreditScoreCategorizada,AgeCategorizada,Prediccion,Probabilidad de irse del banco,Prediccion_str
0,15765311,Zhirov,642,Spain,Male,34,8,0.00,1,1,0,72085.10,3,GOLD,323,Fair,Jovenes-Adultos,0,0.208073,Se queda
1,15704466,Udokamma,692,France,Female,34,7,0.00,2,1,0,195074.62,1,DIAMOND,427,Good,Jovenes-Adultos,0,0.161942,Se queda
2,15573045,Earl,547,France,Male,62,10,127738.75,2,1,1,85153.00,4,GOLD,666,Poor,Adultos-Mayores,0,0.229290,Se queda
3,15596761,Hawdon,515,Germany,Male,60,9,113715.36,1,1,0,18424.24,1,GOLD,850,Poor,Adultos-Mayores,1,0.762467,Se va
4,15588622,Marchesi,599,Germany,Male,25,7,108380.72,1,1,1,79005.95,1,SILVER,933,Fair,Jovenes,0,0.110401,Se queda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,15784092,Henderson,732,France,Male,36,7,126195.81,1,1,1,133172.48,1,DIAMOND,549,Good,Adultos,0,0.257333,Se queda
496,15805112,Pokrovsky,578,France,Male,38,7,82259.29,1,1,0,8996.97,1,DIAMOND,325,Poor,Adultos,1,0.512482,Se va
497,15641366,Y?an,599,Germany,Male,61,1,124737.96,1,0,1,90389.61,3,PLATINUM,914,Fair,Adultos-Mayores,1,0.657677,Se va
498,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,3,GOLD,790,Poor,Adultos,0,0.282295,Se queda
499,15649121,Pinto,665,France,Male,52,3,0.00,1,1,0,116137.01,1,GOLD,307,Fair,Adultos-Mayores,1,0.808018,Se va

In [114]:
df["Probabilidad de irse del banco"]= df["Probabilidad de irse del banco"].apply(lambda x : str(round(x*100,2))+"%")

In [115]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,CreditScoreCategorizada,AgeCategorizada,Prediccion,Probabilidad de irse del banco,Prediccion_str
0,15765311,Zhirov,642,Spain,Male,34,8,0.00,1,1,0,72085.10,3,GOLD,323,Fair,Jovenes-Adultos,0,20.81%,Se queda
1,15704466,Udokamma,692,France,Female,34,7,0.00,2,1,0,195074.62,1,DIAMOND,427,Good,Jovenes-Adultos,0,16.19%,Se queda
2,15573045,Earl,547,France,Male,62,10,127738.75,2,1,1,85153.00,4,GOLD,666,Poor,Adultos-Mayores,0,22.93%,Se queda
3,15596761,Hawdon,515,Germany,Male,60,9,113715.36,1,1,0,18424.24,1,GOLD,850,Poor,Adultos-Mayores,1,76.25%,Se va
4,15588622,Marchesi,599,Germany,Male,25,7,108380.72,1,1,1,79005.95,1,SILVER,933,Fair,Jovenes,0,11.04%,Se queda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,15784092,Henderson,732,France,Male,36,7,126195.81,1,1,1,133172.48,1,DIAMOND,549,Good,Adultos,0,25.73%,Se queda
496,15805112,Pokrovsky,578,France,Male,38,7,82259.29,1,1,0,8996.97,1,DIAMOND,325,Poor,Adultos,1,51.25%,Se va
497,15641366,Y?an,599,Germany,Male,61,1,124737.96,1,0,1,90389.61,3,PLATINUM,914,Fair,Adultos-Mayores,1,65.77%,Se va
498,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,3,GOLD,790,Poor,Adultos,0,28.23%,Se queda
499,15649121,Pinto,665,France,Male,52,3,0.00,1,1,0,116137.01,1,GOLD,307,Fair,Adultos-Mayores,1,80.8%,Se va

In [116]:
df[["CustomerId","Surname","Probabilidad de irse del banco","Prediccion_str"]]

     CustomerId    Surname Probabilidad de irse del banco Prediccion_str
0      15765311     Zhirov                         20.81%       Se queda
1      15704466   Udokamma                         16.19%       Se queda
2      15573045       Earl                         22.93%       Se queda
3      15596761     Hawdon                         76.25%          Se va
4      15588622   Marchesi                         11.04%       Se queda
..          ...        ...                            ...            ...
495    15784092  Henderson                         25.73%       Se queda
496    15805112  Pokrovsky                         51.25%          Se va
497    15641366       Y?an                         65.77%          Se va
498    15672754   Burbidge                         28.23%       Se queda
499    15649121      Pinto                          80.8%          Se va

[500 rows x 4 columns]